[color]
	ui = true
[user]
	name = Johnson Chou
	email = joujiahe@gmail.com
[core]
	editor = /usr/bin/vim
	ignorecase = false
	excludesfile = /Users/joujiahe/.gitignore_global
[http]
	sslVerify = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/joujiahe/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/joujiahe/.stCommitMsg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
